{% extends 'video_collection/base.html' %} {% block content %}

<div class="page-wrapper">
    <div class="search">
        <h3>Search videos</h3>

        <form class="search-form" method="GET" action="{% url 'video_list' %}">
            {{ search_form }}
            <button type="submit">Search</button>

            <a href="{% url 'video_list' %}">
                <button>Clear</button>
            </a>
        </form>
    </div>

    <h1>Video list</h1>
    <h4>{{ videos|length }} video{{videos|length|pluralize}}:</h4>

    {% for video in videos %}
    <br />
    <br />
    <div>
        <div class="video-wrapper">
            <iframe width="420" height="315" src="https://youtube.com/embed/{{video.video_id}}"></iframe>
        </div>
        <p class="details-link">SEE <a href="{% url 'video_details' video.pk %}"> DETAILS</a> ABOUT THIS VIDEO</p>
    </div>

    {% empty %}
    <p>No videos.</p>
    {% endfor %}
</div>
{% endblock %}
